
{% extends 'otherfix.html.twig' %}

{% block title %}{{ app.user.username }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
	 .xyz {
            background-size: auto;
            text-align: center;
            padding-top: 100px;
        }
        .btn-circle.btn-sm {
            width: 30px;
            height: 30px;
            padding: 6px 0px;
            border-radius: 15px;
            font-size: 8px;
            text-align: center;
        }
        .btn-circle.btn-md {
            width: 50px;
            height: 50px;
            padding: 7px 10px;
            border-radius: 25px;
            font-size: 10px;
            text-align: center;
        }
        .btn-circle.btn-xl {
            width: 70px;
            height: 70px;
            padding: 10px 16px;
            border-radius: 35px;
            font-size: 12px;
            text-align: center;
        }
</style>


    
    <main
		id="main">

    	<br><br>
	<br><br>
		<!-- ======= Why giving blood Section ======= -->
		<section id="doctors" class="services services">
			<div class="container" data-aos="fade-up">

				<div class="section-title">
					<h2>
						Doctors <i class="icofont-doctor-alt"></i></h2>
						
					<p><strong>{{users | length}} </strong> Doctors available</p>
				</div>

				<div class="row">
				<table class="table">
                <thead>
                    <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Doctor</th>
                    <th scope="col">Password</th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
			{% for user in users %}
                    <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.password}}</td>
                    <td><a href="{{path('doctordelete',{'id':user.id})}}"><button type="button" class="btn btn-danger">Delete</button></a></td>
                    </tr>
			{% endfor %}
                </tbody>
                </table>
				</div>

			</div>
		</section>
		<!-- End Why giving blood Section -->

    
		<!-- ======= Donate BLOOD Section ======= -->
		<section id="appointment" class="appointment section-bg">
			<div class="container" data-aos="fade-up">

				<div class="section-title">
					<h2>Add Doctor
						<i class="icofont-contact-add"></i>
					</h2>
					<p>Insert doctors to the Database</p>
				</div>

				{{ form_start(UserForm, {'attr': {'class':'php-email-form ','role':'form','data-aos':'fade-up', 'data-aos-delay':'100',}}) }}


				<div class="form-row">
                <div class="col-md-4 ">
					</div>

					<div class="col-md-4 form-group input">
							{{ form_row(UserForm.UserName) }}
					</div>


				</div>
				<div class="form-row">
                <div class="col-md-4 ">
					</div>
					<div class="col-md-4 form-group">
						{{ form_row(UserForm.Password) }}
					</div>
				</div>

                <div class="form-row">
				
                <div class="col-md-4 ">
					</div>
					<div class="col-md-4 form-group">
						{{ form_row(UserForm.ConfirmPassword) }}
					</div>
                </div>
			
				<div class="text-center">
					{% for message in app.flashes('success_addDoctor') %}
						<div class="alert alert-success">
							{{ message }}
						</div>
					{% endfor %}
				</div>

				<div class="text-center">
					{{ form_row(UserForm.Add_User)  }}
				</div>

				{{ form_end(UserForm) }}
				
			</div>	

		</section>
			<!-- End Donate BLOOD Section -->


    <!-- ======= Pricing Section ======= -->

    <section id="testimonials" class="testimonials pricing ">
			<div class="container" data-aos="fade-up">

					<div class="section-title ">
						<h2>Blood donors
							<i class="icofont-blood-drop"></i>
						</h2>
						<p><strong>{{donors | length}}</strong> Blood Donor is available
						</p>
					</div>
 
					<div class="container center_div ">
						{{ form_start(searchform, {'attr': {'class':'php-email-form'}}) }}
						<div class="form-row text-center">
							<div class=" col-md-3">
								{{ form_row(searchform.City) }}
							</div>

							<div class="form-group ">
								{{ form_row(searchform.Search_blood)  }}
							</div>
						
						</div>
						{{ form_end(searchform) }}

						{% if citysearch != 'OVER THE WORLD'  and  bycitys %}
							<p> Try another city or<a class="scrollto" href="#testimonials"  onClick="change();"> click here <i class="icofont-hand-drag1"></i></a> 
							to show all the available donors .  </p>
						{% endif %}
					</div>

			<div class="owl-carousel testimonials-carousel" >
			{% set counter = 0 %}
			
		{% if citysearch == 'OVER THE WORLD' %}
			{% for donor in donors %}
			<div class="row ">
			{% set counter = counter + 1 %}
				<div class="box" >
					<h3>
						<i class="icofont-ui-user"></i>
						{{ donor.firstname }}
						{{ donor.lastname }}
						</h3>
						 
					<h4><button type="button"  class="btn btn-outline-danger btn-circle btn-sm" onClick="deletnum({{ counter }})">-</button> &nbsp;&nbsp;<sup></sup><a id="clicks{{ counter }}">0</a><span> / Blood Bag</span>&nbsp;&nbsp;&nbsp;<button type="button"  class="btn btn-outline-success btn-circle btn-sm" onClick="addnum({{ counter }})">+</button></h4>
				
								
						<div class="testimonial-item">

									<p style="text-align:left;">

										
										<i class="icofont-email"></i>
										<strong>
											Email:
										</strong>
										{{ donor.email }}
										<br>
										<i class="icofont-id-card"></i>	
										<strong>
											CIN:
										</strong>
											{{ donor.CINPassport }}
										<br>
										<i class="icofont-phone"></i>
										<strong>
											Phone:
										</strong>
										{{ donor.phone }}
										<br>
										<i class="icofont-birthday-cake"></i>
										<strong>
											Age:
										</strong>
										{{ 'now'|date('Y') - donor.age|date('Y') }} ans
										<br>
										<i class="icofont-live-messenger"></i>
										<strong>
											Sexe:
										</strong>
										{{ donor.genre }}
										<br>
										<i class="icofont-worker"></i>
										<strong>
											Blood Type:
										</strong>
										{{ donor.BloodType }}
										<br>
										<i class="icofont-map"></i>
										<strong>
											Country:
										</strong>
										{{ donor.country }}
										<br>
										<i class="icofont-map-pins"></i>
										<strong>
											City:
										</strong>
										{{ donor.City }}
										<br>
										<i class="icofont-ui-calendar"></i>
										<strong>
											Posted At:
										</strong>
										{{ donor.datepost|date('m/d/Y') }}
										
									</p>
								<a href="{{path('donordelete',{'id':donor.id})}}"  > <img src="logo/trash.jpg" class="testimonial-img  btn-outline-danger " alt="">  </a>	

							</div>	

					<div class="btn-wrap">
					<a href="{{path('donordetails',{'id':donor.id,'emailTo':donor.email})}}" class="btn-buy">Save Card</a>
					</div>
				</div>
			</div>
			{% endfor %}

			{% else %}

				{% if bycitys %}
					{% for donor in bycitys %}
					<div class="row ">
						{% set counter = counter + 1 %}
						<div class="box" >
						<h3>
						<i class="icofont-ui-user"></i>
						{{ donor.firstname }}
						{{ donor.lastname }}
						</h3>
						 
					<h4><button type="button"  class="btn btn-outline-danger btn-circle btn-sm" onClick="deletnum({{ counter }})">-</button> &nbsp;&nbsp;<sup></sup><a id="clicks{{ counter }}">0</a><span> / Blood Bag</span>&nbsp;&nbsp;&nbsp;<button type="button"  class="btn btn-outline-success btn-circle btn-sm" onClick="addnum({{ counter }})">+</button></h4>
				
								
						<div class="testimonial-item">

									<p style="text-align:left;">

										
										<i class="icofont-email"></i>
										<strong>
											Email:
										</strong>
										{{ donor.email }}
										<br>
										<i class="icofont-id-card"></i>	
										<strong>
											CIN:
										</strong>
											{{ donor.CINPassport }}
										<br>
										<i class="icofont-phone"></i>
										<strong>
											Phone:
										</strong>
										{{ donor.phone }}
										<br>
										<i class="icofont-birthday-cake"></i>
										<strong>
											Age:
										</strong>
										{{ 'now'|date('Y') - donor.age|date('Y') }} ans
										<br>
										<i class="icofont-live-messenger"></i>
										<strong>
											Sexe:
										</strong>
										{{ donor.genre }}
										<br>
										<i class="icofont-worker"></i>
										<strong>
											Blood Type:
										</strong>
										{{ donor.BloodType }}
										<br>
										<i class="icofont-map"></i>
										<strong>
											Country:
										</strong>
										{{ donor.country }}
										<br>
										<i class="icofont-map-pins"></i>
										<strong>
											City:
										</strong>
										{{ donor.City }}
										<br>
										<i class="icofont-ui-calendar"></i>
										<strong>
											Posted At:
										</strong>
										{{ donor.datepost|date('m/d/Y') }}
										
									</p>
								<a href="{{path('donordelete',{'id':donor.id})}}"  > <img src="logo/trash.jpg" class="testimonial-img  btn-outline-danger " alt="">  </a>	

							</div>	

					<div class="btn-wrap">
					<a href="{{path('donordetails',{'id':donor.id,'emailTo':donor.email})}}" class="btn-buy">Save Card</a>
					</div>
				</div>
			</div>
			{% endfor %}
				{% else %}
						<div class=" testimonial-item">
							<p style="text-align:justify">
							<i class="bx bxs-quote-alt-left quote-icon-left"></i>
							Seems like no donors are available for the moment in <strong>{{citysearch}} </strong> <i class="icofont-exclamation-tringle"></i>, 
							try another city or<a class="scrollto" href="#testimonials"  onClick="change();"> click here <i class="icofont-hand-drag1"></i></a> 
							to show all the available donors . <i class="bx bxs-quote-alt-right quote-icon-right"></i>
							</p>
							
						</div>
				{% endif %}	
	{% endif %}
		</div>
      </div>
    </section><!-- End Pricing Section -->
    </main>

{% endblock %}
{% block javascripts %}
<script type="text/javascript">

		function change(){
				document.getElementById("searchdonor_City").value = "OVER THE WORLD";
				document.getElementById("searchdonor_Search_blood").click();

			}


	var clicks = 0;
	function addnum(id) {
	var ident = 'clicks'+id;
	clicks = parseInt(document.getElementById(ident).innerHTML)+ 1;
	document.getElementById(ident).innerHTML = clicks;
  }

  function deletnum(iddel) {
	var ident = 'clicks'+iddel;
	
	if (document.getElementById(ident).innerHTML != 0){
		clicks = parseInt(document.getElementById(ident).innerHTML) - 1;
	document.getElementById(ident).innerHTML = clicks;
	}
  }


	
	</script>

{% endblock %}