{% extends 'homefix.html.twig' %}

{% block title %}BloodCharity
{% endblock %}

{% block body %}
	<!-- ======= Home Section ======= -->
	<section id="hero">
		<div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

			<ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

			<div
				class="carousel-inner" role="listbox">

				<!-- Slide 1 -->
				<div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg)">
					<div class="container">
						<h2>Welcome to
							<span>BloodCharity</span>
						</h2>
						<p>TOGETHER WE CAN SAVE MORE LIVES
						</p>
						<a href="#about" class="btn-get-started scrollto">Read More
							<i class="icofont-tasks-alt"></i>
						</a>
					</div>
				</div>

				<!-- Slide 2 -->
				<div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.jpg)">
					<div class="container">
						<h2>OUR VISION</h2>
						<p>TO SAVE AND IMPROVE THE LIVES OF EVERYONE</p>
						<a href="#about" class="btn-get-started scrollto">Read More
							<i class="icofont-tasks-alt"></i>
						</a>
					</div>
				</div>

				<!-- Slide 3 -->
				<div class="carousel-item" style="background-image: url(assets/img/slide/slide-3.jpg)">
					<div class="container">
						<h2>OUR AIMS</h2>
						<p>
							Together, we can provide outstanding services to patients and the clinical community.<BR>
							Together, we can be a stronger voice for patients to ensure they receive the best possible care.<BR>
							Together, we can.
						</p>
						<a href="#about" class="btn-get-started scrollto">Read More
							<i class="icofont-tasks-alt"></i>
						</a>
					</div>
				</div>

			</div>

			<a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>

			<a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
				<span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>

		</div>
	</section>
	<!-- Home Hero -->

	<main
		id="main">

		<!-- ======= Featured Services Section ======= -->
		<section id="featured-services" class="featured-services">
			<div class="container" data-aos="fade-up">

				<div class="row">
					<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
						<div class="icon-box" data-aos="fade-up" data-aos-delay="100">
							<div class="icon ">
								<i class="icofont-heart-beat-alt"></i>
							</div>
							<h4 class="title">
								<a href="#appointment" class="scrollto">Give blood
									<i class="icofont-plus-circle "></i>
								</a>
							</h4>
							<p class="description">Be a part to save more than 3 lives</p>
						</div>
					</div>

					<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
						<div class="icon-box" data-aos="fade-up" data-aos-delay="200">
							<div class="icon">
								<i class="icofont-search-job"></i>
							</div>
							<h4 class="title">
								<a href="#testimonials" class="scrollto">Search for donors
									<i class="icofont-search-user"></i>
								</a>
							</h4>
							<p class="description">We have more than 100 donor, find them now!</p>
						</div>
					</div>

					<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
						<div class="icon-box" data-aos="fade-up" data-aos-delay="300">
							<div class="icon">
								<i class="icofont-first-aid"></i>
							</div>
							<h4 class="title">
								<a href="#doctors" class="scrollto">Need help?</a>
							</h4>
							<p class="description">Our support team will help you, contact them now!</p>
						</div>
					</div>

					<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
						<div class="icon-box" data-aos="fade-up" data-aos-delay="400">
							<div class="icon">
								<i class="icofont-image"></i>
							</div>
							<h4 class="title">
								<a href="#gallery" class="scrollto">Our story
									<i class="icofont-brainstorming"></i>
								</a>
							</h4>
							<p class="description">Take a look for our recent activities</p>
						</div>
					</div>

				</div>

			</div>
		</section>
		<!-- End Featured Services Section -->

		<!-- ======= Cta Section ======= -->
		<section id="cta" class="cta">
			<div class="container" data-aos="zoom-in">

				<div class="text-center">
					<h3>In an emergency? Need help now?</h3>
					<p>
						BloodCharity is world's first virtual blood donation platform to connect blood donors with blood seekers.<br>
						Search for blood donors now with a simple click!</p>
					<a class="cta-btn scrollto" href="#testimonials">Search for blood donors
						<i class="icofont-blood-drop"></i>
					</a>
				</div>

			</div>
		</section>
		<!-- End Cta Section -->

		<!-- ======= About Us Section ======= -->
		<section id="about" class="about">
			<div class="container" data-aos="fade-up">

				<div class="section-title">
					<h2>
						<i class="icofont-info-circle"></i>
						About Us</h2>
					<p>BloodCharity is an online blood donation platform which connects blood donors using its Web Application.<br></p>
				</div>

				<div class="row">
					<div class="col-lg-6" data-aos="fade-right">
						<img src="assets/img/about.jpg" class="img-fluid" alt="">
					</div>
					<div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
						<h3>Our Mission, Vision & Values.</h3>
						<p class="font-italic" style="text-align:justify">
							As one of the most preeminent and comprehensive BloodCharity in the world, BloodCharity operates under a three-part mission. Specifically:
						</p>
						<br>
						<ul>
							<li>
								<i class="icofont-check-circled"></i>
								To connect blood donors with blood seekers on real time.</li>
							<li>
								<i class="icofont-check-circled"></i>
								Saving lives in emergency condition</li>
							<li>
								<i class="icofont-check-circled"></i>
								To become the leading world-class blood system in the innovation of new services, technology and research.</li>
						</ul>
						<br>
						<p style="text-align:justify">
							All it takes is a little of your time, and you can save lives. That positively impacts blood product safety and availability, and enhances the lives of blood seekers. The blood will be transfused to an actual blood requirement without getting it wasted.
						</p>
					</div>
				</div>

			</div>
		</section>
		<!-- End About Us Section -->

		<!-- ======= Counts Section ======= -->
		<section id="counts" class="counts">
			<div class="container" data-aos="fade-up">

				<div class="row no-gutters">

					<div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
						<div class="count-box">
							<i class="icofont-doctor-alt"></i>
							<span data-toggle="counter-up">85</span>
							<p>
								<strong>Blood donors</strong>
								from all the world</p>
							<a class="scrollto " href="#testimonials">Find out more &raquo;
							</a>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
						<div class="count-box">
							<i class="icofont-patient-bed"></i>
							<span data-toggle="counter-up">18</span>
							<p>
								<strong>Blood seekers</strong>
								searching for blood</p>
							<a class="scrollto" href="#appointment">Help them &raquo;</a>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
						<div class="count-box">
							<i class="icofont-blood-test"></i>
							<span data-toggle="counter-up">8</span>
							<p>
								<strong>Requests fulfilled</strong>
								already saved lives</p>
							<a class="scrollto" href="#gallery">Take a look &raquo;</a>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
						<div class="count-box">
							<i class="icofont-blood"></i>
							<span data-toggle="counter-up">150</span>
							<p>
								<strong>Blood bags</strong>
								ready to be used</p>
							<a class="scrollto" href="#contact">I need bags &raquo;</a>
						</div>
					</div>

				</div>

			</div>
		</section>
		<!-- End Counts Section -->

		<!-- ======= Features Section ======= -->
		<section id="features" class="features section-bg">
			<div class="container" data-aos="fade-up">
				<div class="section-title">
					<h2>
						<i class="icofont-light-bulb"></i>
						Features</h2>
				</div>
				<div class="row">
					<div class="col-lg-6 order-2 order-lg-1" data-aos="fade-right">
						<div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="100">
							<i class="icofont-street-view"></i>
							<h4>Peer-to-Peer Connect</h4>
							<p style="text-align:justify">We connect blood donors with blood seekers so that a donor can see visible impact created by their blood in someone's life</p>
						</div>
						<div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="100">
							<i class="icofont-wall-clock"></i>
							<h4>Real Time</h4>
							<p style="text-align:justify">Our platform connects blood donors and blood seekers on real time which reduces time. The time saved can play critical role in saving lives in emergency condition</p>
						</div>
						<div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="100">
							<i class="icofont-map-pins"></i>
							<h4>Near By</h4>
							<p style="text-align:justify">BloodCharity shares blood requests to all potential blood donors within 5kms from the location its needed.</p>

						</div>
						<div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="100">
							<i class="icofont-blood-test"></i>
							<h4>Demand Supply Balance</h4>
							<p style="text-align:justify">As a blood donor is directly donating blood to needy, the blood will be transfused to an actual blood requirement without getting it wasted</p>
						</div>
					</div>
					<div class="image col-lg-6 order-1 order-lg-2" style='background-image: url("assets/img/features.jpg");' data-aos="zoom-in"></div>
				</div>

			</div>
		</section>
		<!-- End Features Section -->

		<!-- ======= Why giving blood Section ======= -->
		<section id="services" class="services services">
			<div class="container" data-aos="fade-up">

				<div class="section-title">
					<h2>
						<i class="icofont-unique-idea"></i>
						Why giving blood?</h2>
					<p>Blood is the most precious gift that anyone can give to another person the gift of life. A decision to donate your blood can save a life, or even several if your blood is separated into its components red cells, platelets and plasma which can be used individually for patients with specific conditions.</p>
				</div>

				<div class="row">
					<div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
						<div class="icon">
							<i class="icofont-heart-beat-alt"></i>
						</div>
						<h4 class="title">Save lives</h4>
						<p class="description">One blood donation can save up to
							<strong>THREE LIVES</strong>
						</p>
					</div>
					<div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
						<div class="icon">
							<i class="icofont-clock-time"></i>
						</div>
						<h4 class="title">Two seconds</h4>
						<p class="description">Every
							<strong>TWO SECONDS</strong>
							someone needs blood</p>
					</div>
					<div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
						<div class="icon">
							<i class="icofont-group-students"></i>
						</div>
						<h4 class="title">Eligible to donate</h4>
						<p class="description">About
							<strong>TWO</strong>
							out of
							<strong>FIVE</strong>
							peaple are eligible to donate blood</p>
					</div>
					<div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
						<div class="icon">
							<i class="icofont-police-car-alt-2"></i>
						</div>
						<h4 class="title">100 Pints</h4>
						<p class="description">A single car accident victim can require as much as
							<strong>100 PINTS</strong>
							of blood</p>
					</div>
					<div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
						<div class="icon">
							<i class="icofont-ui-user-group"></i>
						</div>
						<h4 class="title">Donations</h4>
						<p class="description">The only way to receive blood is through
							<strong>DONATIONS</strong>.It can't be manufactured</p>
					</div>
					<div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
						<div class="icon">
							<i class="icofont-spinner-alt-3"></i>
						</div>
						<h4 class="title">Regularly replenished</h4>
						<p class="description">The need for blood is constant and the blood supply must be
							<strong>regularly replenished</strong>
						</p>
					</div>
				</div>

			</div>
		</section>
		<!-- End Why giving blood Section -->

		<!-- ======= Donate BLOOD Section ======= -->
		<section id="appointment" class="appointment section-bg">
			<div class="container" data-aos="fade-up">

				<div class="section-title">
					<h2>Donate BLOOD
						<i class="icofont-blood"></i>
					</h2>
					<p>We need you as you need us</p>
				</div>

				{{ form_start(formdonor, {'attr': {'class':'php-email-form ','role':'form','data-aos':'fade-up', 'data-aos-delay':'100',}}) }}


				<div class="form-row">

				<div class="col-md-4 form-group input">
						{{ form_row(formdonor.CIN_Passport) }}
						 <div class="validate"></div>
					</div>

	
					<div class="col-md-4 form-group">
						{{ form_row(formdonor.First_Name) }}
						 <div class="validate"></div>
					</div>

					<div class="col-md-4 form-group">
						{{ form_row(formdonor.Last_Name) }}
					</div>
					
				
				</div>
				<div class="form-row">

					<div class="col-md-4 form-group">
						{{ form_row(formdonor.Email) }}
					</div>

					<div class="col-md-4 form-group">
						{{ form_row(formdonor.Country) }}
					</div>
					<div class="col-md-4 form-group">
						{{ form_row(formdonor.City) }}
					</div>
					
				</div>

				<div class="form-row ">

					<div class="col-md-4 form-group">
						{{ form_row(formdonor.Phone) }}
					</div>

					<div class="col-md-4 form-group">
						{{ form_row(formdonor.Age) }}
					</div>

					<div class="col-md-4 form-group ">
						{{ form_row(formdonor.Job) }}
					</div>

				</div>

				<div class="form-row ">

					<div class="col-md-4 ">
					</div>

					<div class="col-md-4 form-group  dropdown ">
					{{ form_row(formdonor.Genre) }}
					</div>
				</div>


				<div class="mb-2 text-center">
					{% for message in app.flashes('success') %}
						<div class="alert alert-success">
							{{ message }}
						</div>
					{% endfor %}

				</div>


				<div class="text-center">
					{{ form_row(formdonor.Donate_blood)  }}
				</div>


				{{ form_end(formdonor) }}

			</section>
			<!-- End Donate BLOOD Section -->


			<!-- ======= Blood donors Section ======= -->
			<section id="testimonials" class="testimonials appointment ">
				<div class="container" data-aos="fade-up">

					<div class="section-title ">
						<h2>Blood donors
							<i class="icofont-blood-drop"></i>
						</h2>
						<p>Donors from <strong>{{citysearch}}</strong></p>	

					</div>

					<div class="container center_div ">
						{{ form_start(searchform, {'attr': {'class':'php-email-form'}}) }}
						<div class="form-row text-center">
							<div class=" col-md-3">
								{{ form_row(searchform.City) }}
							</div>

							<div class="form-group ">
								{{ form_row(searchform.Search_blood)  }}
							</div>
						
						</div>
						{{ form_end(searchform) }}

						{% if citysearch != 'OVER THE WORLD'  and  bycitys %}
							<p> Try another city or<a class="scrollto" href="#testimonials"  onClick="change();"> click here <i class="icofont-hand-drag1"></i></a> 
							to show all the available donors .  </p>
						{% endif %}
					</div>

					

					<div class="owl-carousel testimonials-carousel" data-aos="fade-up" data-aos-delay="100">

					{% if citysearch == 'OVER THE WORLD' %}
						{% for donor in donors %}
							<div class="testimonial-item">

								<p>
									<i class="bx bxs-quote-alt-left quote-icon-left"></i>
									<br>
									<i class="icofont-email"></i>
									<strong>
										Email:
									</strong>
									{{ donor.email }}
									<br>
									<i class="icofont-phone"></i>
									<strong>
										Phone:
									</strong>
									{{ donor.phone }}
									<br>
									<i class="icofont-birthday-cake"></i>
									<strong>
										Age:
									</strong>
									{{ 'now'|date('Y') - donor.age|date('Y') }}
									<br>
									<i class="icofont-live-messenger"></i>
									<strong>
										Sexe:
									</strong>
									{{ donor.genre }}
									<br>
									<i class="icofont-worker"></i>
									<strong>
										Job:
									</strong>
									{{ donor.job }}
									<br>
									<i class="icofont-map"></i>
									<strong>
										Country:
									</strong>
									{{ donor.country }}
									<br>
									<i class="icofont-ui-calendar"></i>
									<strong>
										Posted At:
									</strong>
									{{ donor.datepost|date('m/d/Y') }}
									<i class="bx bxs-quote-alt-right quote-icon-right"></i>
								</p>

								<img src="assets/img/doctors/doctors-1.jpg" class="testimonial-img" alt="">
								<h3>
									<i class="icofont-id-card"></i>
									{{ donor.firstname }}
									{{ donor.lastname }}</h3>
								<h4>
									<i class="icofont-google-map"></i>
									{{ donor.country }}
								</h4>
							</div>
						{% endfor %}

					{% else %}

						{% if bycitys %}
							{% for donor in bycitys %}
							<div class="testimonial-item">

								<p>
									<i class="bx bxs-quote-alt-left quote-icon-left"></i>
									<br>
									<i class="icofont-email"></i>
									<strong>
										Email:
									</strong>
									{{ donor.email }}
									<br>
									<i class="icofont-phone"></i>
									<strong>
										Phone:
									</strong>
									{{ donor.phone }}
									<br>
									<i class="icofont-birthday-cake"></i>
									<strong>
										Age:
									</strong>
									{{ 'now'|date('Y') - donor.age|date('Y') }}
									<br>
									<i class="icofont-live-messenger"></i>
									<strong>
										Sexe:
									</strong>
									{{ donor.genre }}
									<br>
									<i class="icofont-worker"></i>
									<strong>
										Job:
									</strong>
									{{ donor.job }}
									<br>
									<i class="icofont-map"></i>
									<strong>
										Country:
									</strong>
									{{ donor.country }}
									<br>
									<i class="icofont-ui-calendar"></i>
									<strong>
										Posted At:
									</strong>
									{{ donor.datepost|date('m/d/Y') }}
									<i class="bx bxs-quote-alt-right quote-icon-right"></i>
								</p>

								<img src="assets/img/doctors/doctors-1.jpg" class="testimonial-img" alt="">
								<h3>
									<i class="icofont-id-card"></i>
									{{ donor.firstname }}
									{{ donor.lastname }}</h3>
								<h4>
									<i class="icofont-google-map"></i>
									{{ donor.city }}
								</h4>
							</div>
							{% endfor %}
						
						{% else %}
						<div class=" testimonial-item">
							<p style="text-align:justify">
							<i class="bx bxs-quote-alt-left quote-icon-left"></i>
							Seems like no donors are available for the moment in <strong>{{citysearch}} </strong> <i class="icofont-exclamation-tringle"></i>, 
							try another city or<a class="scrollto" href="#testimonials"  onClick="change();"> click here <i class="icofont-hand-drag1"></i></a> 
							to show all the available donors . <i class="bx bxs-quote-alt-right quote-icon-right"></i>
							</p>
							
						</div>
						{% endif %}	
					{% endif %}
					</div>

				</div>
			</section>
			<!-- End  blood donors Section -->


			<!-- ======= Valunteers Section ======= -->
			<section id="doctors" class="doctors section-bg">
				<div class="container" data-aos="fade-up">

					<div class="section-title">
						<h2>
							<i class="icofont-live-support"></i>
							Volunteers</h2>
						<p>Our Volunteers can help you to avoid problems, and even feel good and healthier.<br>
							Find the right volunteer for you and contact him anytime you want.</p>
					</div>

					<div class="row">

						<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
							<div class="member" data-aos="fade-up" data-aos-delay="100">
								<div class="member-img">
									<img src="assets/img/doctors/doctors-1.jpg" class="img-fluid" alt="">
									<div class="social">
										<a href="https://twitter.com/Iheb_Zanina">
											<i class="icofont-twitter"></i>
										</a>
										<a href="https://www.facebook.com/ihebzanina/">
											<i class="icofont-facebook"></i>
										</a>
										<a href="https://www.instagram.com/iheb_zanina/">
											<i class="icofont-instagram"></i>
										</a>
										<a href="https://www.linkedin.com/in/iheb-zanina/">
											<i class="icofont-linkedin"></i>
										</a>
									</div>
								</div>
								<div class="member-info">
									<h4>Iheb Zanina</h4>
									<span>Team Leader</span>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
							<div class="member" data-aos="fade-up" data-aos-delay="200">
								<div class="member-img">
									<img src="assets/img/doctors/doctors-2.jpg" class="img-fluid" alt="">
									<div class="social">

										<a href="https://www.facebook.com/ibtissem.tassou.7731">
											<i class="icofont-facebook"></i>
										</a>
										<a href="https://www.instagram.com/ebtissem_ayarii/">
											<i class="icofont-instagram"></i>
										</a>

									</div>
								</div>
								<div class="member-info">
									<h4>Ebtissem Ayari</h4>
									<span>volunteer</span>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
							<div class="member" data-aos="fade-up" data-aos-delay="300">
								<div class="member-img">
									<img src="assets/img/doctors/doctors-3.jpg" class="img-fluid" alt="">
									<div class="social">

										<a href="https://www.facebook.com/profile.php?id=100017751918850">
											<i class="icofont-facebook"></i>
										</a>
										<a href="https://www.instagram.com/oumeimajlassi/">
											<i class="icofont-instagram"></i>
										</a>

									</div>
								</div>
								<div class="member-info">
									<h4>Oumaima Jlassi</h4>
									<span>volunteer</span>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
							<div class="member" data-aos="fade-up" data-aos-delay="400">
								<div class="member-img">
									<img src="assets/img/doctors/doctors-4.jpg" class="img-fluid" alt="">
									<div class="social">
										<a href="https://twitter.com/jugsonmunganga">
											<i class="icofont-twitter"></i>
										</a>
										<a href="https://www.facebook.com/jugson.munganga">
											<i class="icofont-facebook"></i>
										</a>
										<a href="https://www.instagram.com/jugson_munganga">
											<i class="icofont-instagram"></i>
										</a>
										<a href="https://www.linkedin.com/in/jugal-munganga-40a533135/">
											<i class="icofont-linkedin"></i>
										</a>
									</div>
								</div>
								<div class="member-info">
									<h4>Jugson Munganga</h4>
									<span>volunteer</span>
								</div>
							</div>
						</div>

					</div>

				</div>
			</section>
			<!-- End Valunteers Section -->

			<!-- ======= Gallery Section ======= -->
			<section id="gallery" class="gallery">
				<div class="container" data-aos="fade-up">

					<div class="section-title">
						<h2>
							<i class="icofont-image"></i>
							Gallery</h2>
						<p>This winter, we are facing extra challenges to provide hospitals and blood seekers with the blood they need.
							<br>
							Please help us by filling the donate form from
							<a class="scrollto" href="#appointment">here...</a>
						</p>
					</div>

					<div class="owl-carousel gallery-carousel" data-aos="fade-up" data-aos-delay="100">
						<a href="assets/img/gallery/gallery-1.png" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/gallery-1.png" alt=""></a>
						<a href="assets/img/gallery/gallery-2.png" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/gallery-2.png" alt=""></a>
						<a href="assets/img/gallery/gallery-3.png" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/gallery-3.png" alt=""></a>
						<a href="assets/img/gallery/gallery-4.png" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/gallery-4.png" alt=""></a>
						<a href="assets/img/gallery/gallery-5.png" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/gallery-5.png" alt=""></a>
						<a href="assets/img/gallery/gallery-6.png" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/gallery-6.png" alt=""></a>
						<a href="assets/img/gallery/gallery-7.png" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/gallery-7.png" alt=""></a>
						<a href="assets/img/gallery/gallery-8.png" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/gallery-8.png" alt=""></a>
					</div>

				</div>
			</section>
			<!-- End Gallery Section -->

			<!-- ======= Contact Section ======= -->
			<section id="contact" class="contact testimonials appointment">
				<div class="container">

					<div class="section-title">
						<h2>
							<i class="icofont-support-faq"></i>
							Contact</h2>
						<p>If you have any questions, please feel free to drop us a line. If you don't get an answer immediately,Our support team is spread across the globe to give you answers fast. We will get back to you as soon as we can.That's a promise!</p>
					</div>

				</div>

				<div>
					<iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3234.483931072118!2d10.588292015220366!3d35.837135580158304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd8af61795d55d%3A0x5a8d4d69fd3746f3!2sH%C3%B4pital%20Sahloul!5e0!3m2!1sfr!2stn!4v1609538459066!5m2!1sfr!2stn" frameborder="0" allowfullscreen></iframe>
				</div>

				<div class="container">

					<div class="row mt-5">

						<div class="col-lg-6">

							<div class="row">
								<div class="col-md-12">
									<div class="info-box">
										<i class="bx bx-map"></i>
										<h3>Our Address</h3>
										<p>Sahloul Hospital, Sousse, Tunisia</p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="info-box mt-4">
										<i class="bx bx-envelope"></i>
										<h3>Email Us</h3>
										<p>iheb.zanina@sousse.r-iset.tn<br>iheb257@gmail.com</p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="info-box mt-4">
										<i class="bx bx-phone-call"></i>
										<h3>Call Us</h3>
										<p>+216 51100490<br><br></p>
									</div>
								</div>
							</div>

						</div>

						<div class="col-lg-6">
						
							{{ form_start(contactform, {'attr': {'class':'php-email-form'}}) }}
								<div class="form-row">
									<div class="col form-group">
										{{ form_row(contactform.First_Name) }}
									</div>
									<div class="col form-group">
									{{ form_row(contactform.Last_Name) }}
									</div>
								</div>
								<div class="form-group">
									{{ form_row(contactform.City) }}
								</div>
								<div class="form-group">
									{{ form_row(contactform.CIN_Passport) }}
								</div>
								<div class="mb-3">	
								</div><br>
								<div class="text-center">
									{{ form_row(contactform.Send_Message) }}
								</div>
							{{ form_end(contactform) }}
						</div>

					</div>

				</div>
			</section>
			<!-- End Contact Section -->
		</main>
		<!-- End #main -->

		<script>
			function change(){
				document.getElementById("searchdonor_City").value = "OVER THE WORLD";
				document.getElementById("searchdonor_Search_blood").click();
			}
		</script>
	{% endblock %}
